/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 62.5%;
  background-color: black;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: sans-serif;
  letter-spacing: 1px;
}
.container {
  width: 70%;
  margin: auto;
  background-color: white;
}
.container .content {
  margin: auto;
  width: 85%;
}
.container .content header nav {
  padding: 3.5% 0%;
  font-size: 1.8rem;
  text-align: right;
}
.container .content header nav a {
  color: black;
  font-weight: bold;
  margin-left: 4%;
  text-decoration: none;
}
.container .content .main-content .top-content {
  padding: 12% 0% 8% 6%;
  border-radius: 1%;
  background-color: #E9ECEF;
}
.container .content .main-content .top-content .text-content h1 {
  font-size: 5.3rem;
  padding: 2% 0% 3% 0%;
}
.container .content .main-content .top-content .text-content h2 {
  font-size: 2.3rem;
}
.container .content .main-content .top-content .text-content hr {
  margin: 5% 0%;
  width: 93%;
}
.container .content .main-content .top-content .text-content p {
  font-size: 2.3rem;
}
.container .content .main-content .top-content .text-content button {
  border-radius: 6%;
  background-color: #808080;
  margin: 3% 0% 0% 0%;
  width: 16rem;
  height: 5rem;
  font-weight: bold;
  font-size: 1.8rem;
  color: white;
  border: none;
}
.container .content .main-content .middle-content {
  display: flex;
  margin-top: 5%;
}
.container .content .main-content .middle-content .text-content {
  width: 50%;
}
.container .content .main-content .middle-content .text-content h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 5%;
}
.container .content .main-content .middle-content .text-content h2 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 5%;
}
.container .content .main-content .middle-content .text-content p {
  font-size: 2rem;
}
.container .content .main-content .middle-content .text-content div {
  padding: 3.5% 0% 3.5% 8%;
  font-size: 2rem;
  border: solid 1.5px #DFDFDF;
}
