/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 62.5%;
  background-color: black;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: sans-serif;
  letter-spacing: 1px;
}
p {
  line-height: 1.2;
  /* within paragraph */
}
@media (max-width: 500px) {
  p {
    line-height: 1.5;
    /* within paragraph */
  }
}
.container {
  width: 70%;
  margin: auto;
  background-color: white;
}
@media (max-width: 500px) {
  .container {
    width: 99%;
  }
}
.container .content {
  margin: auto;
  width: 100%;
}
@media (max-width: 500px) {
  .container .content {
    width: 96%;
  }
}
.container .content header nav {
  padding: 3.5% 0%;
  text-align: right;
}
.container .content header nav a {
  color: black;
  font-weight: bold;
  margin-left: 4%;
  font-size: 1.8rem;
  text-decoration: none;
}
@media (max-width: 500px) {
  .container .content header nav a {
    font-size: 2rem;
  }
}
.container .content .main-content .top-content {
  padding: 12% 0% 8% 6%;
  border-radius: 1%;
  background-color: #E9ECEF;
}
.container .content .main-content .top-content .text-content h1 {
  font-size: 5.3rem;
  padding: 2% 0% 3% 0%;
}
@media (max-width: 500px) {
  .container .content .main-content .top-content .text-content h1 {
    padding: 4% 0% 5% 0%;
    font-size: 3rem;
  }
}
.container .content .main-content .top-content .text-content h2 {
  font-size: 2.3rem;
}
.container .content .main-content .top-content .text-content hr {
  margin: 5% 0%;
  width: 93%;
}
@media (max-width: 500px) {
  .container .content .main-content .top-content .text-content hr {
    margin: 9% 0%;
  }
}
.container .content .main-content .top-content .text-content p {
  font-size: 2.3rem;
}
@media (max-width: 500px) {
  .container .content .main-content .top-content .text-content p {
    font-size: 2.5rem;
  }
}
.container .content .main-content .top-content .text-content button {
  border-radius: 6%;
  background-color: #808080;
  margin: 3% 0% 0% 0%;
  width: 16rem;
  height: 5rem;
  font-weight: bold;
  font-size: 1.8rem;
  color: white;
  border: none;
}
@media (max-width: 500px) {
  .container .content .main-content .top-content .text-content button {
    font-size: 2rem;
    width: 17rem;
    height: 6rem;
    margin: 6% 0% 4% 0%;
  }
}
.container .content .main-content .middle-content {
  display: flex;
  margin-top: 5%;
}
@media (max-width: 500px) {
  .container .content .main-content .middle-content {
    flex-direction: column;
    margin-top: 10%;
  }
}
.container .content .main-content .middle-content .text-content {
  width: 50%;
}
@media (max-width: 500px) {
  .container .content .main-content .middle-content .text-content {
    width: 100%;
  }
}
.container .content .main-content .middle-content .text-content h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 5%;
}
.container .content .main-content .middle-content .text-content h2 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 5%;
}
.container .content .main-content .middle-content .text-content p {
  font-size: 2rem;
}
@media (max-width: 500px) {
  .container .content .main-content .middle-content .text-content p {
    font-size: 2.5rem;
    margin-bottom: 10%;
  }
}
.container .content .main-content .middle-content .text-content div {
  padding: 3.5% 0% 3.5% 8%;
  font-size: 2rem;
  border: solid 1.5px #DFDFDF;
}
@media (max-width: 500px) {
  .container .content .main-content .middle-content .text-content div {
    font-size: 2.5rem;
    padding: 5.5% 0% 5.5% 8%;
  }
}
.container .content .main-content .bottom-content {
  margin-top: 5%;
  width: 100%;
}
@media (max-width: 500px) {
  .container .content .main-content .bottom-content {
    margin-top: 10%;
  }
}
.container .content .main-content .bottom-content h3 {
  padding-bottom: 1%;
  font-size: 3rem;
  font-weight: bold;
}
@media (max-width: 500px) {
  .container .content .main-content .bottom-content h3 {
    padding-bottom: 3%;
  }
}
.container .content .main-content .bottom-content .title-row {
  display: flex;
  padding: 2%;
  font-size: 2rem;
  font-weight: bold;
  border-top: solid 1.5px #DFDFDF;
}
@media (max-width: 500px) {
  .container .content .main-content .bottom-content .title-row {
    font-size: 1.8rem;
    padding: 4%;
  }
}
.container .content .main-content .bottom-content .row1,
.container .content .main-content .bottom-content .row2 {
  display: flex;
  padding: 2%;
  font-size: 1.7rem;
  font-weight: bold;
  border-top: solid 1.5px #DFDFDF;
}
@media (max-width: 500px) {
  .container .content .main-content .bottom-content .row1,
  .container .content .main-content .bottom-content .row2 {
    font-size: 1.5rem;
    padding: 4%;
    font-weight: normal;
  }
}
.container .content .main-content .bottom-content .row2 {
  background-color: #F2F2F2;
}
.container .content .main-content .bottom-content .col-one {
  width: 15%;
}
.container .content .main-content .bottom-content .col-two {
  width: 30%;
}
.container .content .main-content .bottom-content .col-three {
  width: 30%;
}
.container .content .main-content .bottom-content .col-four {
  width: 25%;
}
.container .content #contact-section {
  margin-top: 3%;
  width: 100%;
  border-radius: 5px;
  background-color: #E9ECEF;
  padding: 20px;
}
.container .content #contact-section h4 {
  padding-bottom: 1%;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 3%;
}
.container .content #contact-section .contact-content {
  display: flex;
}
.container .content #contact-section .contact-content .static-info {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
  line-height: 2;
  border-top: solid 1.5px #a1b4b4;
  width: 50%;
}
.container .content #contact-section .contact-content .info-form {
  font-size: 2rem;
  padding: 2%;
  border-top: solid 1.5px #a1b4b4;
  /* #DFDFDF;*/
  width: 50%;
  line-height: 2;
  /* Style the submit button */
}
.container .content #contact-section .contact-content .info-form input[type=text],
.container .content #contact-section .contact-content .info-form select,
.container .content #contact-section .contact-content .info-form textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}
.container .content #contact-section .contact-content .info-form input[type=button] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
.container .content footer {
  margin-top: 5%;
  padding: 3% 0% 5% 0%;
  background-color: #808080;
}
.container .content footer p {
  font-size: 2rem;
  color: white;
  text-align: center;
}
