// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

// Define Variables
@mobile: ~"(max-width: 500px)";
@bg-color: #E9ECEF;

//Defile Mix-ins
.flex(@direction)
{
	display: flex;
	flex-direction: @direction;
}

.font-size-weight(@size, @weight)
{
	font-size: @size;
	font-weight: @weight;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
	height: 100%;
	font-size: 62.5%;
	background-color: black;
}

h1, h2, h3, h4, h5 {
    font-family: sans-serif;
    letter-spacing: 1px;
    // margin-bottom: 15p;
}

p {
	line-height: 1.6;   /* within paragraph */

	@media @mobile
	{
		line-height: 1.5;   /* within paragraph */
	}
}

.container {
	width: 70%;
	margin: auto;
	background-color: white;

	@media @mobile
	{
		width: 99%;
	}

	.content {
		margin: auto;
		width: 86%;

		@media @mobile
		{
			width: 96%;
		}

		header {
			
			nav {
				padding: 3.5% 0%;
				text-align: right;

				a {
					color: black;
					margin-left: 4%;
					text-decoration: none;
					.font-size-weight(1.8rem, bold);

					@media @mobile
					{
						font-size: 2rem;
					}

				} //end a

			} //end nav

		} //end header
		
		.main-content {

			.top-content{
				padding: 12% 0% 8% 6%;
				border-radius: 1%;
				background-color: @bg-color;

				.text-content
				{
					h1 {
						font-size: 5.3rem;
						padding: 2% 0% 3% 0%;

						@media @mobile
						{
							padding: 4% 0% 5% 0%;
							font-size: 3rem;
						}

					} //end h1

					h2 {
						font-size: 2.3rem;
					} // end h2

					hr {
						margin: 5% 0%;
						width: 93%;

						@media @mobile
						{
							margin: 9% 0%;
						}

					} // end hr

					p {
						font-size: 2.3rem;

						@media @mobile
						{
							font-size: 2.5rem;
						}

					} // end p

					button {
						border-radius: 6%;
						background-color: #808080;
						margin: 3% 0% 0% 0%;
						width: 20%;
						height: 5rem;
						color: white;
						border: none;
						.font-size-weight(1.8rem, bold);

						@media @mobile
						{
							font-size: 2rem;
							width: 17rem;
							height: 6rem;
							margin: 6% 0% 4% 0%;
						}

					} // end button
				
				} //end  tex content	
			
			} //edn top content

			.middle-content {

				.flex(row);
				margin-top: 5%;

				@media @mobile
				{
					.flex(column);
					margin-top: 10%;
				}
				
				.text-content {

					width: 50%;

					@media @mobile
					{
						width: 100%;
					}

					h1 {
						margin-bottom: 5%;
						.font-size-weight(4rem, bold);
					} //end h1

					h2 {
						.font-size-weight(3rem, bold);
						margin-bottom: 5%;
					} //end h2

					p {
						font-size: 2rem;

						@media @mobile
						{
							font-size: 2.5rem;	
							margin-bottom: 10%;
						}

					} //end p

					div {
						padding: 3.5% 0% 3.5% 8%;
						font-size: 2rem;
						border: solid 1.5px #DFDFDF;

						@media @mobile
						{
							font-size: 2.5rem;
							padding: 5.5% 0% 5.5% 8%;
						}

					} //end div

				} //end text content

			} //end middle content 

			.bottom-content {
				
				margin-top: 5%;
				width: 100%;

				@media @mobile
				{
					margin-top: 10%;
				}

				h3 {
					padding-bottom: 1%;
					.font-size-weight(3rem, bold);
					
					@media @mobile
					{
						padding-bottom: 3%;
					}

				} //end h3

				.title-row {
					.flex(row);
					padding: 2%;
					.font-size-weight(2rem, bold);
					border-top: solid 1.5px #DFDFDF;

					@media @mobile
					{
						font-size: 1.8rem;
						padding: 4%;
					}

				} //title row


				.row1, .row2 {
					.flex(row);
					padding: 2%;
					.font-size-weight(1.7rem, bold);
					border-top: solid 1.5px #DFDFDF;

					@media @mobile
					{
						.font-size-weight(1.5rem, normal);
						padding: 4%;
					}
					
				}

				.row2 {
					background-color: #F2F2F2;
				} //end row2

				.col-one {
					width: 15%;
				} //end col one

				.col-two {
					width: 30%;
				} //end col two

				.col-three {
					width: 30%;
				} // end col three

				.col-four {
					width: 25%;
				} //end col four
				
			}

		} //end main content

		#contact-section {
				
			margin-top: 3%;
			width: 100%;
			border-radius: 5px;
			background-color: @bg-color;
			padding: 20px;

			@media @mobile
			{
				margin-top: 10%;
			}
			
			h4 {
				padding-bottom: 1%;
				.font-size-weight(3rem, normal);				
				margin-bottom: 3%;
			} //h4
	
			.contact-content {
	
				.flex(row);
	
				.static-info {
					.flex(column);			
					.font-size-weight(2rem, normal);
					font-style: italic;
					line-height: 2;
					border-top: solid 1.5px #a1b4b4;
					width: 50%;
	
				} //static-info
	
	
				.info-form {							
					font-size: 2rem;				
					padding: 2%;
					border-top: solid 1.5px #a1b4b4; /* #DFDFDF;*/
					width: 50%;
					line-height: 2;
	
					input[type=text], select, textarea{
						width: 100%;
						padding: 12px;
						border: 1px solid #ccc;
						border-radius: 4px;
						box-sizing: border-box;
						resize: vertical;
					  }
					  
					  /* Style the submit button */
					  input[type=button] {
							background-color: #4CAF50;
							color: white;
							padding: 12px 20px;
							border: none;
							border-radius: 4px;
							cursor: pointer;
							float: right;	
					  }
	
				} // info-form
	
			}//contact-content
			
		} //contact-section

		footer {
			margin-top: 5%;
			padding: 3% 0% 5% 0%;
			background-color: #808080;

			p {
				font-size: 2rem;
				color: white;
				text-align: center;
			} //end p
		} //end footer

	} //end content 

} //end container


